<div style=" background-color: RGB(250, 5, 0);" >
<h1 style="margin: auto; padding: 20px 0; color:#000; text-align: center">Projet 9 - DATA ANALYSE</h1>
<h2 style="margin: auto; padding: 20px 0; color:#000; text-align: center">Préparation et vérification des fichiers pour la réalisation d'une étude de marché</h2>
<h3 style="margin: auto; padding: 20px 0; color:#000; text-align: center">DELCOURT Jade
</h3>
</div>

# Import des librairies et chargement des fichiers

##### Import de librairies

    Pandas pour analyser et manipuler les données.
    Numpy pour manipuler des tableaux et des fonctions mathématiques tableaux.

In [5]:
import pandas as pd
import numpy as np

##### Chargement des fichiers CSV

Chargement des fichiers permets de les stockers dans des dataframes qui une fois fusionnée vont nous servires de bases de donnée consolidé, dans le but de réaliser l'étude marché pour la poule qui chante.

In [6]:
dispoAlimen = pd.read_csv(r"C:\Users\dltja\OneDrive\Documents\DATA ANALYST\PROJETS\Projet 9 - Produisez une étude de marché avec R ou Python\FAOSTAT_dispoAlimentaire_2022.csv")
pop_20_22 = pd.read_csv(r"C:\Users\dltja\OneDrive\Documents\DATA ANALYST\PROJETS\Projet 9 - Produisez une étude de marché avec R ou Python\FAOSTAT_pop_2000_2022.csv")
stabpol_20_22 = pd.read_csv(r"C:\Users\dltja\OneDrive\Documents\DATA ANALYST\PROJETS\Projet 9 - Produisez une étude de marché avec R ou Python\FAOSTAT_stabilitePolitique_PIB_2022.csv")

# Vérification de l'import et nettoyage des fichiers

   ### 1) Fichier de la disponibilité alimentaire

Vérification que l'import du fichier dispoAlimen c'est bien déroulé.

J'affiche les dimention du dataframe ainsi que les différente information et un aperçu sur celui-ci.

In [7]:
print("La table comporte", dispoAlimen.shape[0], "lignes et", dispoAlimen.shape[1], "colonnes.")

La table comporte 891 lignes et 7 colonnes.

In [8]:
dispoAlimen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Domaine  891 non-null    object
 1   Zone     891 non-null    object
 2   Élément  891 non-null    object
 3   Produit  891 non-null    object
 4   Année    891 non-null    int64
 5   Unité    891 non-null    object
 6   Valeur   891 non-null    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 48.9+ KB

In [9]:
dispoAlimen

,Domaine,Zone,Élément,Produit,Année,Unité,Valeur
0,Bilans Alimentaires (2010-),Afghanistan,Production,Viande de Volailles,2022,1000 t,29.00
1,Bilans Alimentaires (2010-),Afghanistan,Importations - quantité,Viande de Volailles,2022,1000 t,7.00
2,Bilans Alimentaires (2010-),Afghanistan,Disponibilité alimentaire (Kcal/personne/jour),Viande de Volailles,2022,kcal/personne/jour,3.29
3,Bilans Alimentaires (2010-),Afghanistan,Disponibilité de protéines en quantité (g/pers...,Viande de Volailles,2022,g/personne/jour,0.39
4,Bilans Alimentaires (2010-),Afrique du Sud,Production,Viande de Volailles,2022,1000 t,1958.00
...,...,...,...,...,...,...,...
886,Bilans Alimentaires (2010-),Zambie,Disponibilité de protéines en quantité (g/pers...,Viande de Volailles,2022,g/personne/jour,2.23
887,Bilans Alimentaires (2010-),Zimbabwe,Production,Viande de Volailles,2022,1000 t,112.00
888,Bilans Alimentaires (2010-),Zimbabwe,Importations - quantité,Viande de Volailles,2022,1000 t,5.00
889,Bilans Alimentaires (2010-),Zimbabwe,Disponibilité alimentaire (Kcal/personne/jour),Viande de Volailles,2022,kcal/personne/jour,27.11
890,Bilans Alimentaires (2010-),Zimbabwe,Disponibilité de protéines en quantité (g/pers...,Viande de Volailles,2022,g/personne/jour,3.24

In [10]:
print("Il y a", dispoAlimen["Zone"].nunique(), 'pays différents dans le fichier disponibilité alimentaire.')

Il y a 189 pays différents dans le fichier disponibilité alimentaire.

   ### 2) Fichier de la population (2000 & 2022)

Vérification que l'import du fichier pop_20_22 c'est bien déroulé.

In [11]:
print("La table comporte", pop_20_22.shape[0], "lignes et", pop_20_22.shape[1], "colonnes.")

La table comporte 464 lignes et 7 colonnes.

In [12]:
pop_20_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464 entries, 0 to 463
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Domaine  464 non-null    object
 1   Zone     464 non-null    object
 2   Élément  464 non-null    object
 3   Produit  464 non-null    object
 4   Année    464 non-null    int64
 5   Unité    464 non-null    object
 6   Valeur   464 non-null    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 25.5+ KB

In [13]:
pop_20_22

,Domaine,Zone,Élément,Produit,Année,Unité,Valeur
0,Séries temporelles annuelles,Afghanistan,Population totale,Population-Estimations,2000,1000 personnes,19542.982
1,Séries temporelles annuelles,Afghanistan,Population totale,Population-Estimations,2022,1000 personnes,41128.771
2,Séries temporelles annuelles,Afrique du Sud,Population totale,Population-Estimations,2000,1000 personnes,46813.266
3,Séries temporelles annuelles,Afrique du Sud,Population totale,Population-Estimations,2022,1000 personnes,59893.885
4,Séries temporelles annuelles,Albanie,Population totale,Population-Estimations,2000,1000 personnes,3182.021
...,...,...,...,...,...,...,...
459,Séries temporelles annuelles,Yémen,Population totale,Population-Estimations,2022,1000 personnes,33696.614
460,Séries temporelles annuelles,Zambie,Population totale,Population-Estimations,2000,1000 personnes,9891.136
461,Séries temporelles annuelles,Zambie,Population totale,Population-Estimations,2022,1000 personnes,20017.675
462,Séries temporelles annuelles,Zimbabwe,Population totale,Population-Estimations,2000,1000 personnes,11834.676
463,Séries temporelles annuelles,Zimbabwe,Population totale,Population-Estimations,2022,1000 personnes,16320.537

In [14]:
print("Il y a", pop_20_22["Zone"].nunique(), 'pays différents dans le fichier population.')

Il y a 238 pays différents dans le fichier population.

   ### 3) Fichier de la stabilité poplitique

Vérification que l'import du fichier stabpol_20_22 c'est bien déroulé.

In [15]:
print("La table comporte", stabpol_20_22.shape[0], "lignes et", stabpol_20_22.shape[1], "colonnes.")

La table comporte 748 lignes et 7 colonnes.

In [16]:
stabpol_20_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Domaine  748 non-null    object
 1   Zone     748 non-null    object
 2   Élément  748 non-null    object
 3   Produit  748 non-null    object
 4   Année    748 non-null    int64
 5   Unité    368 non-null    object
 6   Valeur   748 non-null    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 41.0+ KB

In [17]:
stabpol_20_22

,Domaine,Zone,Élément,Produit,Année,Unité,Valeur
0,Données de la sécurité alimentaire,Afghanistan,Valeur,Stabilité politique et absence de violence/ter...,2000,NaN,-2.44
1,Données de la sécurité alimentaire,Afghanistan,Valeur,Stabilité politique et absence de violence/ter...,2022,NaN,-2.55
2,Données de la sécurité alimentaire,Afrique du Sud,Valeur,"PIB par habitant, ($ PPA internationaux consta...",2000,Int$/cap,11262.20
3,Données de la sécurité alimentaire,Afrique du Sud,Valeur,"PIB par habitant, ($ PPA internationaux consta...",2022,Int$/cap,14322.30
4,Données de la sécurité alimentaire,Afrique du Sud,Valeur,Stabilité politique et absence de violence/ter...,2000,NaN,-0.23
...,...,...,...,...,...,...,...
743,Données de la sécurité alimentaire,Zambie,Valeur,Stabilité politique et absence de violence/ter...,2022,NaN,0.10
744,Données de la sécurité alimentaire,Zimbabwe,Valeur,"PIB par habitant, ($ PPA internationaux consta...",2000,Int$/cap,4260.60
745,Données de la sécurité alimentaire,Zimbabwe,Valeur,"PIB par habitant, ($ PPA internationaux consta...",2022,Int$/cap,3420.00
746,Données de la sécurité alimentaire,Zimbabwe,Valeur,Stabilité politique et absence de violence/ter...,2000,NaN,-1.32
747,Données de la sécurité alimentaire,Zimbabwe,Valeur,Stabilité politique et absence de violence/ter...,2022,NaN,-0.88

In [18]:
print("Il y a", stabpol_20_22["Zone"].nunique(), 'pays différents dans le fichier stabilité politique.')

Il y a 198 pays différents dans le fichier stabilité politique.

# Création d'une table par une concaténation entre les dataframes

Je vais réalisé une concaténation des dataframes, ce qui consiste à ajouté les dataframe les uns en dessous des autres, pour centraliser les données et réaliser des analyses dessus.

In [19]:
data = pd.concat([dispoAlimen,pop_20_22,stabpol_20_22])
data

,Domaine,Zone,Élément,Produit,Année,Unité,Valeur
0,Bilans Alimentaires (2010-),Afghanistan,Production,Viande de Volailles,2022,1000 t,29.00
1,Bilans Alimentaires (2010-),Afghanistan,Importations - quantité,Viande de Volailles,2022,1000 t,7.00
2,Bilans Alimentaires (2010-),Afghanistan,Disponibilité alimentaire (Kcal/personne/jour),Viande de Volailles,2022,kcal/personne/jour,3.29
3,Bilans Alimentaires (2010-),Afghanistan,Disponibilité de protéines en quantité (g/pers...,Viande de Volailles,2022,g/personne/jour,0.39
4,Bilans Alimentaires (2010-),Afrique du Sud,Production,Viande de Volailles,2022,1000 t,1958.00
...,...,...,...,...,...,...,...
743,Données de la sécurité alimentaire,Zambie,Valeur,Stabilité politique et absence de violence/ter...,2022,NaN,0.10
744,Données de la sécurité alimentaire,Zimbabwe,Valeur,"PIB par habitant, ($ PPA internationaux consta...",2000,Int$/cap,4260.60
745,Données de la sécurité alimentaire,Zimbabwe,Valeur,"PIB par habitant, ($ PPA internationaux consta...",2022,Int$/cap,3420.00
746,Données de la sécurité alimentaire,Zimbabwe,Valeur,Stabilité politique et absence de violence/ter...,2000,NaN,-1.32
747,Données de la sécurité alimentaire,Zimbabwe,Valeur,Stabilité politique et absence de violence/ter...,2022,NaN,-0.88

J'affiche les dimention du dataframe ainsi que les différentse informations sur celui-ci.

In [20]:
print("La table comporte", data.shape[0], "lignes et", data.shape[1], "colonnes.")

La table comporte 2103 lignes et 7 colonnes.

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2103 entries, 0 to 747
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Domaine  2103 non-null   object
 1   Zone     2103 non-null   object
 2   Élément  2103 non-null   object
 3   Produit  2103 non-null   object
 4   Année    2103 non-null   int64
 5   Unité    1723 non-null   object
 6   Valeur   2103 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 131.4+ KB

In [22]:
print("Il y a", data["Zone"].nunique(), 'pays différents dans le fichier centralisé.')

Il y a 238 pays différents dans le fichier centralisé.

Pour une meilleur lisibilité des données, je pivote la colonne pays afin d'avoir toute les données sur 1 seul ligne pour chaque pays

In [23]:
data = data.pivot_table(index='Zone', values='Valeur', columns=['Élément', 'Produit', 'Année']).reset_index()
data

Élément                       Zone  \
Produit
Année
0                      Afghanistan
1                   Afrique du Sud
2                          Albanie
3                          Algérie
4                        Allemagne
..                             ...
233                   Îles Salomon
234        Îles Turques-et-Caïques
235       Îles Vierges américaines
236      Îles Vierges britanniques
237          Îles Wallis-et-Futuna

Élément Disponibilité alimentaire (Kcal/personne/jour)  \
Produit                            Viande de Volailles
Année                                             2022
0                                                 3.29
1                                               149.24
2                                                85.67
3                                                23.14
4                                                60.85
..                                                 ...
233                                              37.84
234                                                NaN
235                                                NaN
236                                                NaN
237                                                NaN

Élément Disponibilité de protéines en quantité (g/personne/jour)  \
Produit                                      Viande de Volailles
Année                                                       2022
0                                                     0.39
1                                                    17.86
2                                                    10.27
3                                                     2.77
4                                                     7.69
..                                                     ...
233                                                   4.43
234                                                    NaN
235                                                    NaN
236                                                    NaN
237                                                    NaN

Élément Exportations - quantité Importations - quantité  \
Produit     Viande de Volailles     Viande de Volailles
Année                      2022                    2022
0                           NaN                     7.0
1                          50.0                   304.0
2                           NaN                    47.0
3                           0.0                     0.0
4                         664.0                   789.0
..                          ...                     ...
233                         NaN                     7.0
234                         NaN                     NaN
235                         NaN                     NaN
236                         NaN                     NaN
237                         NaN                     NaN

Élément      Population totale                     Production  \
Produit Population-Estimations            Viande de Volailles
Année                     2000       2022                2022
0                    19542.982  41128.771                29.0
1                    46813.266  59893.885              1958.0
2                     3182.021   2842.321                18.0
3                    30774.621  44903.225               275.0
4                    81551.677  83369.843              1507.0
..                         ...        ...                 ...
233                    429.978    724.273                 0.0
234                     18.744     45.703                 NaN
235                    108.185     99.465                 NaN
236                     20.104     31.305                 NaN
237                     14.723     11.572                 NaN

Élément                                                     Valeur           \
Produit PIB par habitant, ($ PPA internationaux constants de 2017)
Année                                                         2000     2022
0                                                      NaN              NaN
1                                                  11262.2          14322.3
2                                                   6565.5          17261.0
3                                                  10271.2          13090.9
4                                                  49797.3          62605.5
..                                                     ...              ...
233                                                 2345.7           2480.3
234                                                    NaN              NaN
235                                                    NaN              NaN
236                                                    NaN              NaN
237                                                    NaN              NaN

Élément
Produit Stabilité politique et absence de violence/terrorisme (indice)
Année                                                             2000  2022
0                                                    -2.44             -2.55
1                                                    -0.23             -0.72
2                                                    -0.54              0.11
3                                                    -1.43             -0.74
4                                                     1.41              0.61
..                                                     ...               ...
233                                                  -0.73              0.38
234                                                    NaN               NaN
235                                                    NaN               NaN
236                                                    NaN               NaN
237                                                    NaN               NaN

[238 rows x 12 columns]

In [24]:
exports, imports, kcal, prot, pop, pop1, poulet, production, prix_prod, pib, politique, secu = 'Exportations - quantité', 'Importations - quantité', 'Disponibilité alimentaire (Kcal/personne/jour)', 'Disponibilité de protéines en quantité (g/personne/jour)', 'Population totale', 'Population-Estimations', 'Viande de Volailles' , 'Production', 'Prix à la Production (USD/tonne)', 'PIB par habitant, ($ PPA internationaux constants de 2017)', 'Stabilité politique et absence de violence/terrorisme (indice)', 'Valeur'

annee_1, annee_2 = 2000, 2022

df = pd.DataFrame()

df['pays'] = data['Zone']
df['dispo_calories'] = data[kcal][poulet][annee_2]
df['dispo_proteines'] = data[prot][poulet][annee_2]
df['population'] = data[pop][pop1][annee_2]
df['pop_croissance'] = data[pop][pop1][annee_2] / data[pop][pop1][annee_1]
df['pib'] = data[secu][pib][annee_2]
df['pib_croissance'] = data[secu][pib][annee_2] / data[secu][pib][annee_2]
df['politique'] = data[secu][politique][annee_2]
df['importation'] = data[imports][poulet][annee_2]


df

,pays,dispo_calories,dispo_proteines,population,pop_croissance,pib,pib_croissance,politique,importation
0,Afghanistan,3.29,0.39,41128.771,2.104529,NaN,NaN,-2.55,7.0
1,Afrique du Sud,149.24,17.86,59893.885,1.279421,14322.3,1.0,-0.72,304.0
2,Albanie,85.67,10.27,2842.321,0.893244,17261.0,1.0,0.11,47.0
3,Algérie,23.14,2.77,44903.225,1.459099,13090.9,1.0,-0.74,0.0
4,Allemagne,60.85,7.69,83369.843,1.022295,62605.5,1.0,0.61,789.0
...,...,...,...,...,...,...,...,...,...
233,Îles Salomon,37.84,4.43,724.273,1.684442,2480.3,1.0,0.38,7.0
234,Îles Turques-et-Caïques,NaN,NaN,45.703,2.438274,NaN,NaN,NaN,NaN
235,Îles Vierges américaines,NaN,NaN,99.465,0.919397,NaN,NaN,NaN,NaN
236,Îles Vierges britanniques,NaN,NaN,31.305,1.557153,NaN,NaN,NaN,NaN
237,Îles Wallis-et-Futuna,NaN,NaN,11.572,0.785981,NaN,NaN,NaN,NaN

##### Gestion des données manquantes

In [25]:
df = df.replace([np.inf, -np.inf], np.nan).dropna().reset_index().drop(['index'], axis=1)
df

,pays,dispo_calories,dispo_proteines,population,pop_croissance,pib,pib_croissance,politique,importation
0,Afrique du Sud,149.24,17.86,59893.885,1.279421,14322.3,1.0,-0.72,304.0
1,Albanie,85.67,10.27,2842.321,0.893244,17261.0,1.0,0.11,47.0
2,Algérie,23.14,2.77,44903.225,1.459099,13090.9,1.0,-0.74,0.0
3,Allemagne,60.85,7.69,83369.843,1.022295,62605.5,1.0,0.61,789.0
4,Angola,39.62,4.75,35588.987,2.170846,7407.1,1.0,-0.65,316.0
...,...,...,...,...,...,...,...,...,...
166,Équateur,108.60,12.99,18001.000,1.425652,13530.4,1.0,-0.24,1.0
167,États-Unis d'Amérique,198.23,24.52,338289.857,1.197916,71308.9,1.0,-0.04,191.0
168,Éthiopie,1.49,0.18,123379.924,1.840616,2698.6,1.0,-2.04,0.0
169,Îles Marshall,280.32,33.92,41.569,0.766616,6625.5,1.0,1.06,3.0
170,Îles Salomon,37.84,4.43,724.273,1.684442,2480.3,1.0,0.38,7.0

In [27]:
df['pib_croissance'].unique()

array([1.])

##### Gestion des données inutile

Notre objectif ici est l'exportation donc on peut exclure la France.

In [32]:
fr = df[df['pays'] == "France"]
fr

,pays,dispo_calories,dispo_proteines,population,pop_croissance,pib,politique,importation
50,France,93.48,11.2,64626.628,1.101613,54988.3,0.33,667.0

In [33]:
df = df.drop(df.loc[df['pays'] == "France"].index)

##### Sortie d'un fichier CSV

In [34]:
df.to_csv(r'C:\Users\dltja\OneDrive\Documents\DATA ANALYST\PROJETS\Projet 9 - Produisez une étude de marché avec R ou Python\data.csv')